@model InventoryTracker.Models.DomainComponents.PartsList
@{
    ViewData["Title"] = "PartsIndex";
}

@* Список процесорів
 *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">В наявності:</h1>
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Процесори</h2>
            <a asp-controller="Parts" asp-action="CreateProcessor" class="btn btn-primary">
               Додати
            </a>
        </div>
    </div>
</div>


<table id="processorTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Виробник
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Модель
            </th>
            <th style="text-align: center; color:#6A5ACD">
                К-сть ядер
            </th>
            <th style="text-align: center; color:#6A5ACD">
                К-сть потоків
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Робота частота
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Ціна
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Наявність,од
            </th>
            <th>

            </th>
 @*            <th>

            </th> *@
        </tr>
    </thead>

    <tbody>
        @foreach (var cpus in Model.Processors)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @cpus.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @cpus.Model
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.CoreCount
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.ThreadCount
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.ClockSpeed
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.Price
                </td>
                <td width="10%" style="text-align: center">
                    @cpus.AmountInStock
                </td>

                <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a id="editCPUButton" asp-controller="Parts" asp-action="UpdateProcessor" asp-route-id="@cpus.ProcessorId"
                           class="btn btn-primary mx-2" style="width: 100%;">
                            <i class="bi bi-pencil-square"></i> Оновити
                        </a>
                        <a id="deleteCPUButton" asp-controller="Parts" asp-action="DeleteProcessor" asp-route-id="@cpus.ProcessorId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Видалити
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
<button id="downloadPDF" class="btn btn-outline-dark">Зберегти як PDF</button>

<script>
    document.getElementById("downloadPDF").addEventListener("click", function () {
        var table = document.getElementById("processorTable");
        table.style.width = "100%";
        table.style.borderCollapse = "collapse";

        var cells = table.querySelectorAll("th, td");
        cells.forEach(function (cell) {
            cell.style.padding = "4px";
        });

        var customName = "Наявні процесори";
        html2pdf().from(table).save(customName + ".pdf");
    });

</script>

@* Список материнських плат
 *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Материнські плати</h2>
            <a asp-controller="Parts" asp-action="CreateMotherboard" class="btn btn-primary">
                Додати
            </a>
        </div>
    </div>
</div>


<table id="motherboardsTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Виробник
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Модель
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Сокет
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Форм-фактор
            </th>
            <th style="text-align: center; color:#6A5ACD">
                К-сть RAM слотів
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Ціна
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Наявність,од
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var mdbs in Model.Motherboards)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @mdbs.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @mdbs.Model
                </td>
                <td width="10%" style="text-align: center">
                    @mdbs.Socket
                </td>
                <td width="10%" style="text-align: center">
                    @mdbs.FormFactor
                </td>
                <td width="10%" style="text-align: center">
                    @mdbs.RAMSlots
                </td>
                <td width="10%" style="text-align: center">
                    @mdbs.Price
                </td>
                <td width="10%" style="text-align: center">
                @mdbs.AmountInStock
                </td>

                <td style="width: 100%;">
                        <div class="w-100 btn-group d-flex justify-content-center" role="group">
                            <a asp-controller="Parts" asp-action="UpdateMotherboard" asp-route-id="@mdbs.MotherboardId"
                               class="btn btn-primary mx-2" style="width: 100%;">
                                <i class="bi bi-pencil-square"></i> Оновити
                            </a>
                            <a asp-controller="Parts" asp-action="DeleteMotherboard" asp-route-id="@mdbs.MotherboardId"
                               class="btn btn-danger mx-2" style="width: 100%;">
                                <i class="bi bi-trash-fill"></i> Видалити
                            </a>
                        </div>
                </td>
            </tr>
        }
    </tbody>

</table>
<button id="downloadPDFmb" class="btn btn-outline-dark">Зберегти як PDF</button>

<script>
    document.getElementById("downloadPDFmb").addEventListener("click", function () {
        var table = document.getElementById("motherboardsTable");
        table.style.width = "100%";
        table.style.borderCollapse = "collapse";

        var cells = table.querySelectorAll("th, td");
        cells.forEach(function (cell) {
            cell.style.padding = "4px";
        });

        var customName = "Наявні материнські плати";
        html2pdf().from(table).save(customName + ".pdf");
    });

</script>

@* Список відеокарт
 *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Відеокарти</h2>
            <a asp-controller="Parts" asp-action="CreateGPU" class="btn btn-primary">
                Додати
            </a>
        </div>
    </div>
</div>


<table id="graphicsTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Виробник
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Модель
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Пам'ять, Гб
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Тип пам'яті
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Ціна
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Наявність,од
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var gpus in Model.GraphicsCards)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @gpus.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @gpus.Model
                </td>
                <td width="10%" style="text-align: center">
                    @gpus.MemorySize
                </td>
                <td width="10%" style="text-align: center">
                    @gpus.MemoryType
                </td>
                <td width="10%" style="text-align: center">
                    @gpus.Price
                </td>
                <td width="10%" style="text-align: center">
                @gpus.AmountInStock
            </td>

            <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a asp-controller="Parts" asp-action="UpdateGPU" asp-route-id="@gpus.GraphicsCardId"
                           class="btn btn-primary mx-2" style="width: 100%;">
                            <i class="bi bi-pencil-square"></i> Оновити
                        </a>
                        <a asp-controller="Parts" asp-action="DeleteGPU" asp-route-id="@gpus.GraphicsCardId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Видалити
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
<button id="downloadPDFgpu" class="btn btn-outline-dark">Зберегти як PDF</button>

<script>
    document.getElementById("downloadPDFgpu").addEventListener("click", function () {
        var table = document.getElementById("graphicsTable");
        table.style.width = "100%";
        table.style.borderCollapse = "collapse";

        var cells = table.querySelectorAll("th, td");
        cells.forEach(function (cell) {
            cell.style.padding = "4px";
        });

        var customName = "Наявні відеокарти";
        html2pdf().from(table).save(customName + ".pdf");
    });

</script>

@* Список дисків 
 *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Пристрої накопичення</h2>
            <a asp-controller="Parts" asp-action="CreateDrive" class="btn btn-primary">
                Додати
            </a>
        </div>
    </div>
</div>

    
<table id="drivesTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Виробник
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Модель
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Тип
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Об'єм, Гб
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Інтерфейс підключення
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Швидкість читання
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Швидкість запису
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Ціна
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Наявність,од
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var drvs in Model.Drives)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @drvs.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @drvs.Model
                </td>
                <td width="20%" style="text-align: center">
                    @drvs.Type  
                </td>
                <td width="20%" style="text-align: center">
                    @drvs.Capacity
                </td>
                <td width="20%" style="text-align: center">
                    @drvs.ConnectionInterface
                </td>
                <td width="20%" style="text-align: center">
                    @drvs.ReadSpeed
                </td>
                <td width="20%" style="text-align: center">
                    @drvs.WriteSpeed
                </td>
                <td width="10%" style="text-align: center">
                    @drvs.Price
                </td>
                <td width="10%" style="text-align: center">
                    @drvs.AmountInStock
                </td>

                <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a asp-controller="Parts" asp-action="UpdateDrive" asp-route-id="@drvs.DriveId"
                           class="btn btn-primary mx-2" style="width: 100%;">
                            <i class="bi bi-pencil-square"></i> Оновити
                        </a>
                        <a asp-controller="Parts" asp-action="DeleteDrive" asp-route-id="@drvs.DriveId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Видалити
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
<button id="downloadPDFdr" class="btn btn-outline-dark">Зберегти як PDF</button>

<script>
    document.getElementById("downloadPDFdr").addEventListener("click", function () {
        var table = document.getElementById("drivesTable");
        table.style.width = "100%";
        table.style.borderCollapse = "collapse";

        var cells = table.querySelectorAll("th, td");
        cells.forEach(function (cell) {
            cell.style.padding = "4px";
        });

        var customName = "Наявні пристрої накопичення";
        html2pdf().from(table).save(customName + ".pdf");
    });

</script>

@* Список оперативної пам'яті
 *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Оперативна пам'ять</h2>
            <a asp-controller="Parts" asp-action="CreateRAM" class="btn btn-primary">
                Додати
            </a>
        </div>
    </div>
</div>


<table id="ramsTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Виробник
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Тип пам'яті
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Пам'ять, Гб
            </th>
            <th style="text-align: center; color:#6A5ACD">
                К-сть модулів   
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Частота
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Ціна
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Наявність,од
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var rams in Model.RAMs)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @rams.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @rams.MemoryType
                </td>
                <td width="20%" style="text-align: center">
                    @rams.MemorySize    
                </td>
                <td width="20%" style="text-align: center">
                    @rams.ModulesAmount
                </td>
                <td width="20%" style="text-align: center">
                    @rams.Frequency
                </td>
                <td width="10%" style="text-align: center">
                    @rams.Price
                </td>
                <td width="10%" style="text-align: center">
                @rams.AmountInStock
            </td>

            <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a asp-controller="Parts" asp-action="UpdateRAM" asp-route-id="@rams.RAMId"
                           class="btn btn-primary mx-2" style="width: 100%;">
                            <i class="bi bi-pencil-square"></i> Оновити
                        </a>
                        <a asp-controller="Parts" asp-action="DeleteRAM" asp-route-id="@rams.RAMId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Видалити
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
<button id="downloadPDFram" class="btn btn-outline-dark">Зберегти як PDF</button>

<script>
    document.getElementById("downloadPDFram").addEventListener("click", function () {
        var table = document.getElementById("ramsTable");
        table.style.width = "100%";
        table.style.borderCollapse = "collapse";

        var cells = table.querySelectorAll("th, td");
        cells.forEach(function (cell) {
            cell.style.padding = "4px";
        });

        var customName = "Наявна оперативна пам'ять";
        html2pdf().from(table).save(customName + ".pdf");
    });

</script>

@* Список блоків живлення
 *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Блоки живлення</h2>
            <a asp-controller="Parts" asp-action="CreatePS" class="btn btn-primary">
                Додати
            </a>
        </div>
    </div>
</div>


<table id="psTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Виробник
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Модель
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Потужність   
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Сертифікат
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Підключення до відеокарт
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Ціна
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Наявність,од
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var pws in Model.PowerSupplies)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @pws.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @pws.Model
                </td>
                <td width="20%" style="text-align: center">
                    @pws.Power
                </td>
                <td width="20%" style="text-align: center">
                    @pws.Certification
                </td>
                <td width="20%" style="text-align: center">
                    @pws.GraphicsCardConnector
                </td>
                <td width="10%" style="text-align: center">
                    @pws.Price
                </td>
                <td width="10%" style="text-align: center">
                @pws.AmountInStock
                </td>

            <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a asp-controller="Parts" asp-action="UpdatePS" asp-route-id="@pws.PowerSupplyId"
                           class="btn btn-primary mx-2" style="width: 100%;">
                            <i class="bi bi-pencil-square"></i> Оновити
                        </a>
                        <a asp-controller="Parts" asp-action="DeletePS" asp-route-id="@pws.PowerSupplyId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Видалити
                        </a>
                    </div>
            </td>
            </tr>
        }
    </tbody>

</table>
<button id="downloadPDFps" class="btn btn-outline-dark">Зберегти як PDF</button>
<script>
    document.getElementById("downloadPDFps").addEventListener("click", function () {
        var table = document.getElementById("psTable");
        table.style.width = "100%";
        table.style.borderCollapse = "collapse";

        var cells = table.querySelectorAll("th, td");
        cells.forEach(function (cell) {
            cell.style.padding = "4px";
        });

        var customName = "Наявні блоки живлення";
        html2pdf().from(table).save(customName + ".pdf");
    });

</script>

@* Список корпусів
 *@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="table-headers" style="color:#B46060; margin-bottom: 10px">Корпуси</h2>
            <a asp-controller="Parts" asp-action="CreateCase" class="btn btn-primary">
                Додати
            </a>
        </div>
    </div>
</div>


<table id="casesTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th style="text-align: center; color:#6A5ACD">
                Виробник
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Модель
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Тип
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Колір
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Форм-фактор
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Ціна
            </th>
            <th style="text-align: center; color:#6A5ACD">
                Наявність,од
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cases in Model.Cases)
        {
            <tr>
                <td width="20%" style="text-align: center">
                    @cases.Manufacturer
                </td>
                <td width="20%" style="text-align: center">
                    @cases.Model
                </td>
                <td width="20%" style="text-align: center">
                    @cases.Type
                </td>
                <td width="20%" style="text-align: center">
                    @cases.Color    
                </td>
                <td width="20%" style="text-align: center">
                    @cases.MotherboardFormFactor
                </td>
                <td width="10%" style="text-align: center">
                    @cases.Price
                </td>
                <td width="10%" style="text-align: center">
                @cases.AmountInStock
                </td>

            <td style="width: 100%;">
                    <div class="w-100 btn-group d-flex justify-content-center" role="group">
                        <a asp-controller="Parts" asp-action="UpdateCase" asp-route-id="@cases.CaseId"
                           class="btn btn-primary mx-2" style="width: 100%;">
                            <i class="bi bi-pencil-square"></i> Оновити
                        </a>
                        <a asp-controller="Parts" asp-action="DeleteCase" asp-route-id="@cases.CaseId"
                           class="btn btn-danger mx-2" style="width: 100%;">
                            <i class="bi bi-trash-fill"></i> Видалити
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

<button id="downloadPDFcase" class="btn btn-outline-dark">Зберегти як PDF</button>

<script>
    document.getElementById("downloadPDFcase").addEventListener("click", function () {
        var table = document.getElementById("casesTable");
        table.style.width = "100%";
        table.style.borderCollapse = "collapse";

        var cells = table.querySelectorAll("th, td");
        cells.forEach(function (cell) {
            cell.style.padding = "4px";
        });

        var customName = "Наявні корпуси";
        html2pdf().from(table).save(customName + ".pdf");
    });

</script>


